USE [master]
GO
/****** Object:  Database [Mitav_dash_test]    Script Date: 20/03/2022 21:58:54 ******/
CREATE DATABASE [Mitav_dash_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mitav_dash_test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SARI\MSSQL\DATA\Mitav_dash_test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mitav_dash_test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SARI\MSSQL\DATA\Mitav_dash_test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mitav_dash_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mitav_dash_test]
GO
USE [Mitav_dash_test]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/03/2022 21:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID_Num] [nvarchar](9) NOT NULL,
	[Full_Name] [nvarchar](35) NULL,
	[Birth_Date] [date] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Users__253AC06F4BCFFA64] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([ID_Num], [Full_Name], [Birth_Date], [ID]) VALUES (N'222222222', N'mashi', CAST(N'1998-05-02' AS Date), 1)
GO
INSERT [dbo].[Users] ([ID_Num], [Full_Name], [Birth_Date], [ID]) VALUES (N'315013565', N'sara shteren', CAST(N'1999-01-03' AS Date), 2)
GO
INSERT [dbo].[Users] ([ID_Num], [Full_Name], [Birth_Date], [ID]) VALUES (N'315013565', N'hg ghgh', CAST(N'2022-03-20' AS Date), 3)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
